header {
    background-color: #000000;
    color:#FFFFFF;
}

.cabecalho {
    color:white;
    margin-left: 660px;
    text-align: center;
    display: flex;
}

.cabecalho-lista-1 {
     color:white;
     margin-left: 40px;
     padding: 20px; 
     display: inline-block; 
     justify-content: center;
     color: white
     margin-left: 260px; /*alinhamento à esquerda */
     padding: 40px; /*espaçamento vertical */ 
}

.cabecalho-lista-2{
    color: white;
    margin-left: 40px;
    padding: 20px;*/ 
    display: inline-block;
    justify-content: center;
    color: white;
    margin-left: 270px; /*. alinhamento à esquerda */
    padding: 35px; /* espaçamento vertical */
}

body {
    background-color: rgb(248, 248, 131);
    color: black; 
    font-family: 'Poppins', 'sans-serif';
}

.titulo-2 {
    color: #000000;
    justify-content: center;
    display: flex;
}
    
.paragrafo-1 {
    margin-left: 20px;
    justify-content: center;
}

.titulo-3 {
    color:#000000;
    justify-content: center;
    padding: 40px;

}

.paragrafo-2 {
    margin-left: 20px;
    justify-content: center;
}

.arduino {
    width: 40%
    margin-left: 30px;
    margin-right: 50px;
 } 

.protoboard {
    width: 40%; 
    margin-right:  50px;
}

.multimetro {
    width: 40%;
    margin-right: 30px;
}
 
.capacitor {
    width: 40%;
    padding: 45px;
    margin-left: 30px;
    margin-right: 50px;
}
 
.sensor-ldr{
    width: 40%;
    margin-right: 50px;
}

.led {
    width: 40%;
    margin-right: 50px;
}
 
footer {
    background-color:#000000;
    color:#FFFFFF;
}

p {
    justify-content: center;
    padding: 20px;
}

preco-1 {
  width: 25%;
  display: inline-block;
  margin-left: 25px;
  margin-right: 50px;
  text-align: center;
}

preco-2 {
  width: 25%;
  display: inline-block;
  margin-left: 25px;
  margin-right: 50px;
  text-align: center;
}
